{% extends "Achievement/base.html" %}
{% load staticfiles %}

{% block title %}Достижения{% endblock title %}

{% block body %}

  <div class="ribbon">
    <div class="ribbon-stitches-top"></div>
      <strong class="ribbon-content"><h1>Достижения: {{ name }}</h1></strong>
    <div class="ribbon-stitches-bottom"></div>
  </div>

  <div class="row badges">
    
    {% for badge in achievements %}
    <div class="col-md-4 badge">

      <div class="badge">
        <img src="{% static badge.image %}" class="badge-img img-circle">
        <div class="badge-title">{{ badge.name }}<hr></div>
        <div class="badge-description">{{ badge.description }} {{ badge.code }}</div>

      </div>      
    
    </div>
    {% endfor %}

  </div> <!-- /.row badges -->

  
{% endblock body %}

{% block scripts %}
  <script type="text/javascript">
  $(function() {
    $('#nav-achievements').addClass('active');
    $('.badge').hover(function() {
      $(this).find('.badge-description').fadeIn('fast');
    },
    function() {
      $(this).find('.badge-description').fadeOut('fast');
    });

    var badges = $('.badge');
    for(var i = 0; i < badges.length; i++) {
      $(badges[i]).fadeIn('slow');
    }
  });
  </script>
{% endblock scripts %}