{% extends "Achievement/base.html" %}
{% load staticfiles %}
{% load achievement_extras %}

{% block title %}Статистика{% endblock title %}

{% block body %}

  <div class="row">
    <div class="col-md-12">
      <div id="name-label" class="col-md-12 progress-label">Статистика: {{ name }}</div>     
    </div>
  </div>

  {% for course in courses %}

  <div class="row course-progress">
    <div class="col col-md-7 progress-daily">
      
      <div class="row">
        <div class="col-md-12 progress-label">{{ course }}</div>          
      </div>
      
      <div class="row">
        <div class="col-md-7 progress-log">
          {% for hw in activities|get:course|get:'homeworks' %}

            <div class="activity">{{activities|get:course|get:'completion'|get:hw}}</div>

          {% endfor %}
          <canvas class="log-canvas" width="650px" height="200px"></canvas>
        </div>    
      </div>

    </div>

    <div class="col col-md-4 progress-overall pull-right">
      <div class="row">
        <div class="col-md-12 progress-label">От возможного: {{ overall|get:course }}%</div> 
        <canvas class="progress-doughnut fill-{{ overall|get:course }}" width="200px" height="200px"></canvas>         
      </div>
    </div>
  </div>

  {% endfor %}
  
{% endblock body %}

{% block scripts %}
  <script type="text/javascript" src="{% static "js/Chart.min.js" %}"></script>
  <script type="text/javascript">
    $(function() {
      $('#nav-statistics').addClass('active');

      var logs = $('.progress-log');
      for(var i = 0; i < logs.length; i++) {
        var log = $(logs[i]);
        var activity = log.find('.activity');
        var data = [];
        var labels = [];
        var max = 0;
        var min = 1000000;
        var avg_dif = 0
        for(var j = 0; j < activity.length; j++) {
          var value = parseInt(activity[j].innerText, 10);
          if(value > max) {
            max = value;
          }
          if(value < min) {
            min = value;
          }
          if(i > 0) {
            Math.abs(value - prev);
          }
          data.push(activity[j].innerText);
          labels.push('hw '+(j+1).toString());
          var prev = value;
        }
        avg_dif/=1.0*activity.length;

        var options = {
          scaleOverride: true, 
          scaleStartValue: min-2, 
          scaleStepWidth: 2,  
          scaleSteps: 2,
          scaleLineWidth : 1,
          barValueSpacing: 10
        };

        var chart_data = {
          labels: labels, 
          datasets: [{fillColor: '#3a87ad', data: data}] 
        };

        new Chart(log.find('canvas')[0].getContext('2d')).Bar(chart_data, options);
      }


      var doughnuts = $('.progress-doughnut');
      
      for(var i = 0; i < doughnuts.length; i++) {

        var data = [];
        var classes = $(doughnuts[i]).attr("class").split(' ');
        var fill_100 = false;        
        for(var j = 0; j < classes.length; j++) {
          var dash_split = classes[j].split('-');
          if(dash_split[0] === 'fill') {
            var fill = parseInt(dash_split[1], 10);
            var color = '#949FB1';
            if(fill < 40) {
              color = '#b94a48';
            }

            if(fill >= 40 && fill < 60) {
              color = '#c09853';
            }

            if(fill >= 60 && fill < 80) {
              color = '#3a87ad';
            }

            if(fill >= 80) {
              color = '#468847';
            }
            if(fill == 100 || fill == 0) {
              data.push({value: 100, color: color});
              data.push({value: 100, color: color});
              fill_100 = true;
            } else {
              data.push({value: fill, color: color});
              data.push({value: 100-fill, color: '#D5D5D5'});
            }
            
            break;
          }
        }

        if(fill_100) {
          var options = {  segmentShowStroke : false,};
          var my_doughnut = new Chart(doughnuts[i].getContext("2d")).Doughnut(data, options);
        } else {
          var my_doughnut = new Chart(doughnuts[i].getContext("2d")).Doughnut(data);
        }
      }

      var rows = $('.course-progress');
      var next = function(rownum) {
        if(rownum < rows.length - 1) {
          $(rows[rownum]).show('slide', function() {next(rownum+1)});
        } else {
          $(rows[rownum]).show('slide');
        }
      }
      next(0);
    });
  </script>
{% endblock scripts %}