
html, body {
    height: 100%;
    background-color: #F6F6F6;
}

/* STATISTICS */

.course-progress {
  margin-bottom: 40px;
  display: none;
}

.course-progress>.col {
  background-color: #FAFAFA;
  border-radius: 0px;
  border: solid 1px #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 40px;
}

.progress-label {
  color: #555;
  font-size: 30px;
  font-weight: 200px;
  margin-bottom: 20px;
}

#name-label {
  margin-top: 40px;
  margin-left: -20px;
}

.course-progress .progress {
  margin-left: 15px;
  margin-right: 15px;
}

.course-progress .col {
  height: 270px;
}

.progress-doughnut {
  margin-left: 25%;
}


/* BADGES */

.badge {
  background-color: #F6F6F6;
  width: 250px;
  height: 250px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  display: none;
}

.badge-img {
  width: 250px;
  height: 250px;
  z-index: 2;
}

.badge:hover .badge-img {
  filter: brightness(0.5);
  
  -ilter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
}

.badge-title {
  display: none;
  position: absolute;
  top:42%;
  text-align: center;
  width: 250px;  
  z-index: 2;
  font-size: 18px;
}

.badge-title hr {
  width: 80%;
}

.badge-description {

  display: none;
  position: absolute;
  top:65%;
  text-align: center;
  width: 250px;  
  z-index: 2;
  font-style: italic;
}


.activity {
  display: none;
}


/* TABLE */

#people-table {
  margin-top: 40px;
  background-color: #FAFAFA;
}

#people-table td,
#people-table th {
  font-size: 18px;
}

#people-table tr:hover .silver {
  color: #FADA15;
}

/* HEADER */
.navbar {
  background-color: #27AE60;
  border-radius: 0px;
  border: none;
  height: 80px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.navbar a {
  font-size: 18px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  background-color: #27AE60;
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li>a:focus {
  background-color: #27AE60;
  color: #FFFFFF;
  margin: 3px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #27AE60;
  border-radius: 8px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  margin: 1px;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a {
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #27AE60;
}

#nav-achievements,
#nav-statistics {
  display: none;
}

#nav-achievements.active,
#nav-statistics.active {
  display: block;
}

/* COLOURS */

.bronze {
  color: #CD7F32;
}

.silver {
  color: #C9D1D3;
}

.gold {
  color: #FADA15;
}

/* RIBBON (generated http://livetools.uiparade.com/ribbon-builder.html) */

.ribbon {
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 20px!important;
  background: #d64b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
  background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
  background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.ribbon h1 {
  font-size: 30px!important;
  color: #FFF;
  text-shadow: #d65c5c 0 1px 0;
  margin:0px;
  padding: 15px 10px;
 }
.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #c23a3a;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #871616 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon-stitches-top {
  margin-top:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
  margin-bottom:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}